body {
  font-family: ' Brush Script MT', cursive;
  background-color: #1235c0;
}

h1 {

  text-align: center;
  font-family: 'Lucida Console';
}

nav {
  background-color: #bae8e8;
  padding: 20px;
}
#table {
background-color: #ffff;
  padding: 20px;
  text-align: center;
  color: #fff;
}